{{define "IngredientForm"}}
  <body>
    <div class="main-block">
      <form method="POST" action="/ingredients">
        <div class="title">
          <i class="fas fa-pencil-alt"></i> 
          <h2>Добавить ингредиент в базу данных</h2>
        </div>
        <div class="info">
          <input class="name" type="text" name="name" placeholder="Название">
          <input type="text" name="quantity" placeholder="Количество">
          <input type="text" name="price" placeholder="Цена">
          <input type="text" name="description" value="Описание">
          <input type="text" name="type" value="мг">
          <input type="text" name="tag" value="Косметика">
        </div>
        <div class="checkbox">
        </div>
        <button type="submit" href="/">Добавить</button>
      </form>
    </div>
  </body>
{{end}}