{{template "base" .}}

{{define "title"}}Ингредиенты{{end}}
{{define "main"}}
    <div class="IngredientMainContainer">
        <div id="IngredientList">
            <h2 type="text">СПИСОК ИНГРЕДИЕНТОВ</h2>
            <h2>ЛЮБОВЬ</h2>
            <b>several spoons of hotness</b>
            <h1>ATTENTION</h1>

        </div>
        <div id="IngredientFormBlock">
            {{template "IngredientForm" .}}
        </div>
    </div>
{{end}}