{{template "base" .}}

{{define "title"}}Ингредиенты{{end}}
{{define "main"}}
        <div id="IngredientList">
            {{template "IngredientListBlock" .}}
        </div>

        <div id="IngredientFormBlock">
            {{template "IngredientForm" .}}
        </div>
{{end}}