{{define "IngredientForm"}}
  <body>
    <div class="main-block">
      <form action="/">
        <div class="title">
          <i class="fas fa-pencil-alt"></i> 
          <h2>Добавить ингредиент в базу данных</h2>
        </div>
        <div class="info">
          <input class="name" type="text" name="name" placeholder="Название">
          <input type="text" name="name" placeholder="Количество">
          <input type="text" name="name" placeholder="Цена">
          <input type="text" name="name" placeholder="Описание">
          <select>
            <option value="gramm" selected>Граммы</option>
            <option value="ml">Миллилитры</option>
          </select>
        </div>
        <div class="checkbox">
        </div>
        <button type="submit" href="/">Добавить</button>
      </form>
    </div>
  </body>
{{end}}