{{template "base" .}}

{{define "title"}}Рецепты{{end}}
{{define "main"}}
        <div id="IngredientList">
            {{template "ReceiptListBlock" .}}
        </div>

        <div id="IngredientFormBlock">
            {{template "ReceiptForm" .}}
        </div>
{{end}}