{{define "ReceiptListBlock"}}
  <body>
    <div class="main-block">
        <div class="title">
          <i class="fas fa-pencil-alt"></i> 
          <h2>Список рецептов</h2>
        </div>

        {{if .Receipts}}
            <table>
                <tr>
                    <th>Название</th>
                    <th>Цена</th>
                    <th>Кол-во</th>
                    <th>Удельная цена</th>
                </tr>
            {{range .Receipts}}
                <tr>
                    <td><a href='/receipt?id={{.Rec_id}}'>{{.Name}}</a></td>
                    <td>{{.Price}}</td>
                    <td>{{.Quantity}}</td>
                    <td>{{.PriceForQuantity}}</td>
                </tr>
            {{end}}
            </table>   
        {{end}}     
    </div>
  </body>
{{end}}