{{template "base" .}}

{{define "title"}}Рецпет{{end}}
{{define "main"}}
    {{with .Receipt}}
    <div id="IngredientFormBlock">
        <div class='metadata'>
            <strong>{{.Name}}</strong>
            <span>#{{.Rec_id}}</span>
        </div>
        <pre><code>Хеллоу</code></pre>
        <pre><code>Цена: {{.Price}}</code></pre>
        <pre><code>Удельная цена: {{.PriceForQuantity}}</code></pre>
        <pre><code>Получаемое количество вещества: {{.Quantity}}</code></pre>
        <div class='metadata'>
            <span>#{{.Tag}}</span>
        </div>
    </div>
    {{end}}
        <div id="IngredientList">
            {{template "IngredientsForReceipt" .}}
        </div>


{{end}}